.parent{
    padding: 25px;
    background-color: blanchedalmond;
}
.child{
    border: 2px solid palevioletred;
    background-color: palegreen;
    padding: 20px;
    font-size: 28px;
    margin: 10px 0;
}