.parent{
    padding: 25px;
    background-color: blanchedalmond;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    flex-direction: ;
}
.child{
    border: 2px solid palevioletred;
    background-color: palegreen;
    padding: 20px;
    font-size: 28px;
    margin: 10px 0;
    
}