
.header{
    height: 50px;
    background-color: blanchedalmond;
    background-image: url('ialim-ng68bl7t5UU-unsplash.jpg');
}
h3{
    font-size: 30px ;
    text-decoration: overline;
    font-family: 'Courier New', Courier, monospace;
}
.second{
    /* display: none ; */
    /* visibility: hidden; */
}
.blog{
    box-shadow: 5px 5px 10px rgb(70, 75, 81);
}
.incident{
    border: 2px solid purple ;
}